#checkout {
    background-color: #48cfe0;
    float: right;
    width: 80px;
    height: 20px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}
#checkout::after{
    content: "";
    text-decoration: none;
    color: #e91e63;
}

.sanpham {
    display: flex;
}

    .sanpham span {
        display: inline-block;
        padding: 0 5px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        white-space: nowrap;
    }
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 30px 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-width: 220px;
    flex: 0 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

    .product-item:hover {
        transform: translateY(-5px);
    }

    .product-item img {
        max-width: 200px;
        height: 160px;
        object-fit: contain;
        margin-bottom: 15px;
    }

.price {
    color: #e91e63;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.add-to-cart {
    background: #48cfe0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 997;
}

    .add-to-cart:hover {
        background: #1fbcd4;
    }
#services {
    display: flex;
    justify-content: space-around;
    padding: 20px 5px;
    background-color: #eee;
}