.profile-box {
    width: fit-content;
    min-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    background: #f8feff;
    border: 1px solid #48cfe0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.row {
    margin-bottom: 15px;
    display:flex;
    flex-direction:row;
}

.title {
    display: block;
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
}

.input {
    width: 100%;
    padding: 6px;
    border: 1px solid #48cfe0;
    border-radius: 4px;
}

.action {
    text-align: right;
}

.btn {
    background: #48cfe0;
    border: none;
    color: #fff;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
}

    .btn.cancel {
        background: #999;
    }

/* GridView */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

    .table th,
    .table td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
        vertical-align: middle;
    }

    /* Header GridView */
    .table th {
        background-color: #48cfe0;
        color: #fff;
        font-weight: bold;
    }

    /* Row */
    .table tr {
        transition: background-color 0.2s ease;
    }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .table tr:hover {
            background-color: #f1f1f1;
        }
/* Thông báo */
.msg {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}
.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}